{% extends 'term-base.html' %}
{% block content %}

    <!--<div class="container">
        <a href="javascript:termOpen(1)" onfocus="if(this.blur)this.blur();" onmouseover="window.status='terminal 1'; return true" onmouseout="window.status=''; return true" class="termopen">open terminal 1 </a>
        <div id="termDiv1" style="position:absolute; top:20px; left:100px;"></div>
        <!--<a href="javascript:termOpen(2)" onfocus="if(this.blur)this.blur();" onmouseover="window.status='terminal 2'; return true" onmouseout="window.status=''; return true" class="termopen">open terminal 2 </a>-->
        <!--<div id="termDiv2" style="position:absolute; top:20px; left:100px;"></div>
    </div>-->

{% endblock %}