<%provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Contact Us!
	<a href = "rphmee@gmail.com">Ryan Mee</a>
	<a href = "mbhatt@ncsu.edu">Madhavbhai Bhatt</a>
	<a href = "dcbrow10@ncsu.edu">Chris Brown</a>
</p>