<%provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Contact Us!
	<ul>
		<li><a href = "rphmee@gmail.com">Ryan Mee</a></li>
		<li><a href = "mbhatt@ncsu.edu">Madhavbhai Bhatt</a></li>
		<li><a href = "dcbrow10@ncsu.edu">Chris Brown</a></li>
	</ul>
</p>

<h1>Citations</h1>
<p>
	<ul>
		<li><a href = "https://www.railstutorial.org/book/filling_in_the_layout">Rails Tutorial by Michael Hartl</a></li>
		<li>Ruby on Rails - Building Social Networks (book)</li>
	</ul>
</p>