<%provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Contact Us!
	<ul>
		<li><a href = "rphmee@gmail.com">Ryan Mee</a></li>
		<li><a href = "mbhatt@ncsu.edu">Madhavbhai Bhatt</a></li>
		<li><a href = "dcbrow10@ncsu.edu">Chris Brown</a></li>
	</ul>
</p>