{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
        {% if post.is_draft == True %}
            <div class="post">
                <div class="list">
                 <h1><a href="{% url 'post_edit' pk=post.pk %}">{{ post.title }}</a></h1>
                    <h3>{{ post.created_date }}</h3>
                    <h4>- By {{ post.author }}</h4>
                    <p align="justify" >{{ post.description | safe }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
